<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="www.boiled_egg.com.webview_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WebView App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
        android:name=".WebViewActivity"
        android:label="WebView App">
        <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
    </activity>

        <activity
            android:name=".InputScreen"
            android:label="WebView App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>